<br>
<h1>Lista de Activadas</h1>
<hr>
<div class="button-container">
    <button class="btn btn-primary" [routerLink]="'/admin/proveedor/crear-proveedor'">Registrar Proveedor</button>
    <br><br> 
    <button class="btn btn-primary btn-block" (click)="descargarPDF()">Generar Reporte</button>
    <br><br>
</div>
<div class="search-container">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="nombre" placeholder="Buscar Nombre" (input)="buscarPorNombre()">
    </mat-form-field>
</div>
<table class="table table-bordered">
    <thead style="background-color: deepskyblue;" class="text-center">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Ruc</th>
            <th>Correo</th>
            <th>Direccion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr
            *ngFor="let proveedor of proveedores | slice: (paginator.pageIndex * paginator.pageSize):(paginator.pageIndex + 1) * paginator.pageSize">
            <td>{{ proveedor.proveedorId }}</td>
            <td>{{ proveedor.nombre }}</td>
            <td>{{proveedor.telefono}}</td>
            <td>{{proveedor.ruc}}</td>
            <td>{{proveedor.email}}</td>
            <td>{{proveedor.direccion}}</td>

            <td>
                <button class="btn btn-warning text-light"
                    [routerLink]="'/admin/proveedor/detalle/' + proveedor.proveedorId"><i
                        class='bx bx-info-circle'></i></button>
                &nbsp;
                <button [routerLink]="'/admin/proveedor/' + proveedor.proveedorId" class="btn btn-success"> <i
                        class='bx bx-pencil'></i></button>
                &nbsp;
                <button (click)="desactivarProveedor(proveedor.proveedorId)" class="btn btn-danger"><i
                        class='bx bx-trash'></i></button>
            </td>
        </tr>
    </tbody>
</table>
<mat-paginator [length]="proveedores.length" [pageSize]="pageSize" [pageIndex]="pageIndex" class="letra"
    (page)="onPageChange($event)" #paginator></mat-paginator>