<div class="bootstrap-wrapper">
    
    <div class="container"> 
       <h1>Detalle de Producto de Inventario</h1>
       <hr>
       <br>
     <div class="text-center">
     </div>
     <div class="row">
       <div class="col-md-10 offset-md-1">
         <table class="table text-center " *ngIf="producto">
           <tr>
             <th colspan="2" class="text-center" style="background-color: deepskyblue; margin-top: 550px;"> Información de Contacto  </th>
           </tr>
           <tr>
             <td><strong>Código</strong></td>
             <td>{{ producto.productoId }}</td>
           </tr>
           <tr>
             <td><strong>Nombre</strong></td>
             <td>{{ producto.nombre }}</td>
           </tr>
             <tr>
               <td><strong>Descripcion</strong></td>
               <td>{{ producto.descripcion }}</td>
             </tr>
             <tr>
               <td><strong>Precio</strong></td>
               <td>{{ producto.precio }}</td>
             </tr>
             <tr>
               <td><strong>Stock</strong></td>
               <td>{{ producto.stock }}</td>
             </tr>
             <tr>
               <td><strong>Proveedor</strong></td>
               <td>{{ producto.proveedor.nombre }}</td>
             </tr>
             <tr>
               <td><strong>Estado</strong></td>
               <td>{{ producto.estado? "Activo" : "Desactivado"}}</td>
             </tr>
         </table>
       </div>
     </div>
   </div>
 </div>